{% extends 'base.html' %}

{% block content %}

<h2>Register</h2>

<form method="POST" autocomplete="off">

    <input
        type="text"
        name="prevent_autofill_username"
        id="prevent_autofill_username"
        style="position:absolute; left:-9999px; top:-9999px;"
        tabindex="-1"
        autocomplete="off">

    <input
        type="password"
        name="prevent_autofill_password"
        id="prevent_autofill_password"
        style="position:absolute; left:-9999px; top:-9999px;"
        tabindex="-1"
        autocomplete="off">

    <input
        type="text"
        name="username"
        class="form-control mb-3"
        placeholder="Username"
        autocomplete="off"
        required>

    <input
        type="email"
        name="email"
        class="form-control mb-3"
        placeholder="Email"
        autocomplete="off"
        required>

    <input
        type="password"
        name="password"
        class="form-control mb-3"
        placeholder="Password"
        autocomplete="off"
        required>

    <button type="submit" class="btn btn-primary">
        Register
    </button>

</form>

{% endblock %}